.margin {
  display: flex;

  .margin-full {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-color: #f7f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 1px solid #e8e9eb;
    .box-margin {
      width: 10px;
      height: 10px;
      border: 2px solid #5c5f66;
    }
  }
  .margin-direction {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-color: #f7f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-right: 5px;
    .box-margin-direction {
      width: 10px;
      height: 10px;
      border: 2px dashed #5c5f66;
      border-top: 2px solid black;
    }
  }
}

.input-margin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.input-right {
  display: flex;
}
.margin-left {
  display: flex;
}
.back-ground-img-margin {
  margin-top: 12px;
  position: relative;
}

.name-margin {
  position: absolute;
  font-size: 8px;
  top: 5%;
  left: 2%;
}
.margin-top {
  left: 48%;
  top: -4%;
  cursor: pointer;
  position: absolute;
}

.name-padding {
  font-size: 8px;
  position: absolute;
  top: 23%;
  left: 24%;
}
.padding-top {
  position: absolute;
  left: 48%;
  top: 17%;
  cursor: pointer;
}

.margin-left-style {
  cursor: pointer;
  left: 3%;
  top: 37%;
  position: absolute;
}
.margin-right {
  position: absolute;
  left: 87%;
  cursor: pointer;
  top: 37%;
}

.padding-left {
  left: 29%;
  top: 37%;
  cursor: pointer;
  position: absolute;
}
.padding-right {
  position: absolute;
  left: 66%;
  top: 37%;
  cursor: pointer;
}

.margin-bottom {
  position: absolute;
  top: 76%;
  left: 48%;
  cursor: pointer;
}
.padding-bottom {
  position: absolute;
  top: 52%;
  cursor: pointer;
  left: 48%;
}

.font-size-margin-padding {
  font-size: 10px;
}
.img-margin-padding {
  width: 100%;
}
