.margin {
  display: flex;

  .margin-full {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-color: #f7f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 1px solid #e8e9eb;
    .box-margin {
      width: 10px;
      height: 10px;
      border: 2px solid #5c5f66;
    }
  }
  .margin-direction {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-color: #f7f7f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-right: 5px;
    .box-margin-direction {
      width: 10px;
      height: 10px;
      border: 2px dashed #5c5f66;
      border-top: 2px solid black;
    }
  }
}

.input-margin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.input-right {
  display: flex;
}
.margin-left {
  display: flex;
}
.back-ground-img-margin {
  background: url(../../assets/margin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 132px;
  margin-top: 12px;
  position: relative;
}
.name-margin {
  top: 5%;
  left: 2%;
  font-size: 8px;
  position: absolute;
}
.margin-top {
  left: 49%;
  top: 1px;
  cursor: pointer;
  position: absolute;
}
.margin-left-style {
  left: 5%;
  top: 40%;
  cursor: pointer;
  position: absolute;
}
.margin-right {
  position: absolute;
  left: 90%;
  cursor: pointer;
  top: 40%;
}
.margin-bottom {
  position: absolute;
  top: 80%;
  left: 49%;
  cursor: pointer;
}
.name-padding {
  font-size: 8px;
  position: absolute;
  top: 25%;
  left: 24%;
}
.padding-top {
  position: absolute;
  left: 49%;
  top: 20%;
  cursor: pointer;
}
.padding-left {
  left: 30%;
  top: 40%;
  cursor: pointer;
  position: absolute;
}
.padding-right {
  position: absolute;
  left: 67%;
  cursor: pointer;
  top: 40%;
}
.padding-bottom {
  position: absolute;
  top: 60%;
  cursor: pointer;
  left: 49%;
}
